@model DotNet5OctBatch_2021.Models.Item

@{
    ViewData["Title"] = "AddItem";
    IList<ItemCategory> Listcategories = ViewBag.ListCategories;
    SelectList AllCategories = new SelectList(Listcategories, "Id", "CatName");
}
<link href="~/css/select2.min.css" rel="stylesheet" />
<h1>AddItem</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.ItemCategory, AllCategories, "Choose a category", new { @class = "form-control inout-sm" })
                @*<select class="form-control input-sm" name="ItemCategory" asp-for="ItemCategory">
                       <option>Choose a category</option>
                        @foreach (var cat in Listcategories)
                        {
                            <option value="@cat.Id">@(cat.CatName + " (" + cat.CatCode + ")")</option>
                        }
                    </select>*@
                @*<label asp-for="ItemCategory" class="control-label"></label>
                    <input asp-for="ItemCategory" class="form-control" />*@
                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemCode" class="control-label"></label>
                <input asp-for="ItemCode" class="form-control" />
                <span asp-validation-for="ItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemSerial" class="control-label"></label>
                <input asp-for="ItemSerial" class="form-control" />
                <span asp-validation-for="ItemSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemQuantity" class="control-label"></label>
                <input asp-for="ItemQuantity" class="form-control" />
                <span asp-validation-for="ItemQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMinStock" class="control-label"></label>
                <input asp-for="ItemMinStock" class="form-control" />
                <span asp-validation-for="ItemMinStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMaxStock" class="control-label"></label>
                <input asp-for="ItemMaxStock" class="form-control" />
                <span asp-validation-for="ItemMaxStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemOpeningStock" class="control-label"></label>
                <input asp-for="ItemOpeningStock" class="form-control" />
                <span asp-validation-for="ItemOpeningStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningStockDate" class="control-label"></label>
                <input asp-for="OpeningStockDate" class="form-control" />
                <span asp-validation-for="OpeningStockDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifyBy" class="control-label"></label>
                    <input asp-for="ModifyBy" class="form-control" />
                    <span asp-validation-for="ModifyBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifyDate" class="control-label"></label>
                    <input asp-for="ModifyDate" class="form-control" />
                    <span asp-validation-for="ModifyDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/select2.min.js"></script>
    <script>
        $("#ItemCategory").select2();
    </script>

}
