
@{
    ViewData["Title"] = "AddSale";
    IList<Item> ListItems = ViewBag.ListItems;
    SelectList AllItems = new SelectList(ListItems, "Id", "ItemName");
}

<div class="alert alert-success text-center">Manage Sales</div>
<h2>Sale Date</h2>
<div class="col-md-6 col-lg-12 col-sm-3">
    <label>Sale Date</label>
    <input type="datetime" value="@DateTime.Now" id="saledate" /> 

    <h2>Items Detail</h2>

    <div class="row">
        <div class="col-md-6"><label>Item Detail</label></div>
        <div class="col-md-2"><label>Item Qty</label></div>
        <div class="col-md-2"><label>Item Price</label></div>
        <div class="col-md-2"><label>Total Price</label></div>
    </div>
    <div class="row parentdiv">
        <div class="col-md-6">
            @Html.DropDownList("ItemId", AllItems, "Choose an Item", new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Qty" value="1" class="form-control input-group-sm qty" />
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Price" value="1" class="form-control input-group-sm price" />
        </div>
        <div class="col-md-2">
            <input type="number" readonly step="any" id="TotalPrice" value="0" class="form-control input-group-sm totalprice" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="appenditems"></div>
    <div class="row mt-5">
        <div class="offset-10 col-md-2">
            <a href="#" id="additem" class="btn btn-success btn-sm"> Add More Item</a>
        </div>
    </div>
</div>
<div class="anotheritemdiv" style="display:none;">
    <div class="row parentdiv mt-2">
        <div class="col-md-6">
            @Html.DropDownList("ItemId", AllItems, "Choose an Item", new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Qty" value="1" class="form-control input-group-sm qty" />
        </div>
        <div class="col-md-2">
            <input type="number" step="any" id="Price" value="1" class="form-control input-group-sm price" />
        </div>
        <div class="col-md-2">
            <input type="number" readonly step="any" id="TotalPrice" value="0" class="form-control input-group-sm totalprice" />
        </div>
    </div>
</div>
@section Scripts{ 
<script>
    $(document).on('change', ".qty,.price", function ()  {
/*    $(".qty, .price,.totalprice").change(function () {*/
        var closestdiv = $(this).closest(".parentdiv");
        var qty = parseFloat(closestdiv.find("#Qty").val());
        var price = parseFloat(closestdiv.find("#Price").val());
        var total = qty * price;
        closestdiv.find("#TotalPrice").val(total);
    });
    $("#additem").click(function () {
        var html = $(".anotheritemdiv").html();
        $(".appenditems").append(html);
    });
</script>
}